.CourtContainer{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    height: 30vh;
    width: 70vw;

    margin-left: 4vw;
    margin-right: 4vw;

    margin-top: 2.5vh;
    margin-bottom: 2.5vh;

    border: 1px solid black;

}

.images{

    width: 25vw;
    height: 30vh;
}

.CourtContainer .CourtInfo{

    width: 25vw;
    height: inherit;

    margin-left: 2vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CourtContainer .CourtInfo h3{

    width: 20vw;
    font-size: 3vh;

}

.CourtContainer .CourtInfo div{

    width: 20vw;
    height: 5vh;

    display: flex;
    flex-direction: row;

}

.CourtContainer .CourtInfo div img{

    width: 4vw;
    height: 5vh;
}

