

/* MAIN: estilos hechos para la pestaña de main donde se mostraran algunas canchas */

.CourtContainer_main{
    
    position: relative;
    top: 20vh;

    width: 100vw;
    height: max-content;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.CourtContainer{

    width: 30vw;
    height: 50vh;

    border: 2px solid rgb(150, 150, 150);

    display: flex;
    flex-direction: column;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}

.CourtContainer img{

    width: inherit;
    height: 30vh;
}